---
Checks: 'bugprone-*,
         clang-analyzer-*,
         modernize-*,
         performance-*,
         readability-*,
         -modernize-use-trailing-return-type' # Disable if you don't like it
WarningsAsErrors: '*'
HeaderFilterRegex: 'include/.*'
CheckOptions:
  - key:             modernize-use-using.IgnoreMacros
    value:           'true'
